<!DOCTYPE html>
@{
    ViewBag.Title = "URL shortener";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#short').click(function () {
                var longurl = '?id=' + $('#longurl').val();
                $.ajax({
                    type: 'GET',
                    url: '/home/shorturl/' + longurl,
                    success: function (result) {
                        $('#result').html(result);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="jumbotron">
        <div class="col-md-6 offset-md-3">
            <a href="~/home">Home</a>
        </div>
        <div class="col-md-6 offset-md-3">
            @RenderBody()
        </div>
        <div class="col-md-6 offset-md-3">
            <hr />
            <footer>
                <p>
                    Copyright &copy; 2019 <a href="https://github.com/dnk363">Denis Gulyaev</a>
                </p>
            </footer>
        </div>
    </div>
</body>
</html>
